<ion-header>
  <ion-toolbar>
    <ion-item color="primary">
      <ion-back-button color="dark"></ion-back-button>
      <ion-title>
        memos
      </ion-title>
      <ion-badge slot="end"> {{ count }} / 6</ion-badge>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col *ngFor="let card of cardsList; let item = index" (click)="pileFace(item)" size="4">     
        <ion-img src="/assets/{{ card.image }}" *ngIf="card.face" ></ion-img>
        <ion-img src="/assets/img/question-mark.png" *ngIf="!card.face" ></ion-img>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="ngOnInit()" [color]="userConfig.button">Rejouer</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" [color]="userConfig.button" routerLink="/settings">
            <ion-icon name="settings" slot="icon-only" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>